# AVC  Denial Fixes
allow fingerprintd sysfs:file { write };
allow fingerprintd teei_fp_device:chr_file rw_file_perms;
allow fingerprintd sysfs:file rw_file_perms;
allow fingerprintd mobicore:unix_stream_socket connectto;
allow fingerprintd mobicore_user_device:chr_file rw_file_perms;
allow fingerprintd mobicore_data_file:dir search;
allow fingerprintd mobicore_data_file:file { open read getattr };
allow fingerprintd uhid_device:chr_file rw_file_perms;
allow fingerprintd system_data_file:dir write;
allow fingerprintd system_data_file:dir remove_name;
allow fingerprintd system_data_file:sock_file unlink;
allow fingerprintd system_data_file:dir add_name;
allow fingerprintd system_data_file:sock_file create;
